.DS_Store
.claude
.pnpm-store
.python-version
.vscode
node_modules
dist
build
pnpm-lock.yaml
*.log
/assets/apriltags
/datasets
/docs/
/dist_assets
/intermediary-glb
/intermediary-glb-generic
/outputs/
/config/camera_intrinsics/*.json
/config/camera_extrinsics/*.json
*.bak
