.DS_Store
.claude
.pnpm-store
.python-version
.vscode
node_modules
dist
build
pnpm-lock.yaml
*.log
/assets/apriltags
/dist_assets
/intermediary-glb
/config/camera_intrinsics/*.json
/config/camera_extrinsics/*.json
