# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json

/public/environment.json
/public/panda_assets
/public/panda.json
/public/so101_assets
/public/so101.json
/public/ur5e_assets
/public/ur5e.json
/public/episodes

